/* globals.css */
@import "tailwindcss";

@theme {
  --color-primary: #313642;
  --color-secondary: #ff7362;
  --color-accent: #afd5fd;
  --color-white: #f9feff;
  --color-card: #3e4553
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--color-primary);
}
